# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.react-complete-guide.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\WorkSpace\Egna projekt\react-complete-guide\.idea\.idea.react-complete-guide.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
